<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Projeto Node Avancado - API Busca CEP</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        .conteudo img{
            width: 300px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h3>Achar endereco pelo CEP</h3>           
            </div>
    
            <div class="card-body">
                <form action="/envia-cep" method="POST">
                    <div class="form-group">
                              <label for="cep">Cep</label>
                              <input class="form-control" type="text" name="cep" id="cep">
                              <input type="submit" class="btn btn-outline-success mt-2" value="Buscar">
                      </div>
                </form>
            </div>
            
        </div>

        <div class="container border">
            <div class="row justify-content-center text-center">
                <div class="col-10">
                    <h1 class="display-3">Por algum motivo aleatório, esse site possuí um gerador de raposas.</h1>
                </div>
                <div class="col-10">
                    <form action="/raposa" method="POST">
                        <div class="form-group">
                            <input type="submit" class="btn btn-outline-danger mt-2 w-100 h-100 mb-5 mt-5" value="GERAR. UMA. RAPOSINHA. LINDA.">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>